<header>
  <div class="procurar">
    <article class="icon">
      <img width="40" src="https://th.bing.com/th/id/R.35973d949f596702ab7020bfbae9ac68?rik=bEcooSpqUeQ0Cw&pid=ImgRaw&r=0" alt="">
    </article>

    <a class="procurar" href="">Procurar</a>
  </div>

  <div class="barraPesquisa">
    <div class="formEntrada">
      <input type="text" placeholder="Buscar">
    </div>

    <div class="divBtn">
      <img width="20" src="../assets/images/OIP__1_-removebg-preview (1).png" alt="">
    </div>
  </div>

  <div class="loginCadastro">
    <input type="button" class="loginBtn" value="Login" placeholder="Login">
    <br>
    <input type="button" class="cadastroBtn" value="Cadastrar" placeholder="Cadastrar">
  </div>
</header>

<main>
  <div class="sideBar">
    <div class="cont">
      <h3>Canais Recomendados</h3>

      <div class="canal">
        <h3>Magoules</h3>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>