<header>
  <div class="procurar">
    <article class="icon">
      <img width="40" src="https://th.bing.com/th/id/R.35973d949f596702ab7020bfbae9ac68?rik=bEcooSpqUeQ0Cw&pid=ImgRaw&r=0" alt="">
    </article>

    <a class="procurar" href="">Procurar</a>
  </div>

  <div class="barraPesquisa">
    <div class="formEntrada">
      <input type="text" placeholder="Buscar">
    </div>

    <div class="divBtn">
      <img width="20" src="../assets/images/OIP__1_-removebg-preview (1).png" alt="">
    </div>
  </div>

  <div class="loginCadastro">
    <input type="button" class="loginBtn" value="Login" placeholder="Login">
    <br>
    <input type="button" class="cadastroBtn" value="Cadastrar" placeholder="Cadastrar">
  </div>
</header>

<main>
  <div class="sideBar">
    <div class="cont">
      <h3>Canais Recomendados</h3>

      <div *ngFor="let canal of canais" class="canal">
        <article>
          <img class="imgCanal" width="40" src={{canal.foto}} alt="">
        </article>
        <a target="a_blank" href={{canal.link}} class="canalRecomendado">{{canal.nome}}</a>
      </div>
    </div>
  </div>

  <div class="contPag">
    <div class="videoPrincipal">
      <h1>Mural de Hinos</h1>
      <p>27/03</p>
      <iframe class="videoIframe" width="560" height="315" src="https://www.youtube.com/embed/YNZc80t0Arw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="videos">
      <div class="recomendadosVideo">
        <p style="margin-left: 0%;">07/05</p>
        <iframe width="280" height="157.5" src="https://www.youtube.com/embed/U3yGyAEexpQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="recomendados">
        <p style="margin-left: 0%;">27/03</p>
        <iframe width="280" height="157.5" src="https://www.youtube.com/embed/qubfgS5CggQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

      <div class="recomendados">
        <p style="margin-left: 0%;">26/03</p>
        <iframe width="280" height="157.5" src="https://www.youtube.com/embed/KIQGjyE4ytE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</main>
<router-outlet></router-outlet>